@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@800&family=Montserrat:wght@400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.price {
  @apply rounded-full bg-white py-2.5 px-12 inline-block;
}
.price__new {
  @apply exo2-font font-bold text-xl md:text-3xl text-primary;
}
.price__old {
  @apply exo2-font font-medium text-xs md:text-lg text-dark -mt-1;
}

.title-large {
  @apply exo2-font text-lg md:text-2xl lg:text-3xl xl:text-4xl leading-tight uppercase;
}

.hero {
  @apply box-border w-full min-h-[calc(min(100vh,1080px))] bg-cover pt-10 flex flex-col;
  background-image: url("/img/hero_bg.jpg");
  background-position: 50% 60%;
}
.hero .max-width-container {
  @apply flex flex-col flex-grow;
}
.hero__logo {
  @apply w-14 block mx-auto flex-grow-0;
  @apply md:w-24 lg:w-36;
}
.hero__discount {
  @apply exo2-font text-center text-primary mt-3 text-sm;
  @apply md:text-2xl md:mt-2 lg:text-3xl;
}
.hero__content {
  @apply relative pb-40 px-8 grid grid-cols-1;
  @apply lg:grid-cols-2;
}
.hero__col-1, .hero__col-2 {
  @apply relative flex flex-col justify-center;
}
.hero__col-1 {
  @apply lg:block;
}
.hero__title {
  @apply exo2-font text-lg uppercase text-dark text-center w-[16ch] mx-auto;
  @apply md:mx-0 md:text-5xl md:mt-1 lg:text-left lg:mt-16 2xl:text-7xl;
}
.hero .row {
  @apply mt-9 flex flex-row items-center md:pr-20;
  @apply md:justify-between lg:mt-0 lg:ml-1;
}
.hero__subtitle {
  @apply font-semibold text-sm text-dark opacity-75 inline-block;
  @apply md:text-2xl md:text-right lg:mt-9 lg:text-left 2xl:text-4xl;
  width: 20ch;
}
.hero__button {
  @apply rounded-full py-5 px-8 inline-block mt-12 font-bold text-white uppercase text-lg mx-auto;
  @apply md:px-16 lg:mx-0 2xl:text-2xl;
  background: linear-gradient(90deg, #ff5858 0%, #f09819 100%);
}
.hero__mobile-button {
  @apply inline text-center lg:hidden;
}
.hero__desktop-button {
  @apply hidden lg:inline-block flex-grow-0;
}
.hero__col-2__content {
  @apply my-auto h-[80%];
  @apply md:h-auto;
}
.hero__image {
  @apply w-full h-auto mx-auto max-w-none;
  @apply md:-my-20 md:w-[512px] lg:w-[612px] lg:absolute lg:right-0 lg:top-0 lg:bottom-0 lg:mt-12 2xl:w-full 2xl:h-auto;
}
.hero__price-mobile {
  @apply inline-block lg:hidden relative -left-12 flex-shrink-0;
}
.hero__price-desktop {
  @apply hidden lg:inline-block absolute top-[12%] right-40;
}

.advantages-wrapper {
  @apply relative px-3 z-10;
}

.advantages {
  @apply rounded-lg bg-white -my-20 py-10 px-6;
  @apply lg:px-16;
}
.advantages__grid {
  @apply flex flex-col md:flex-row md:justify-between;
}
.advantages__item {
  @apply flex flex-row my-3 mr-4;
}
.advantages__item:last-child {
  @apply mr-0;
}
.advantages__icon {
  @apply mr-2 w-10 h-10;
  @apply md:w-12 md:h-12;
}
.advantages__title {
  @apply font-bold text-base text-secondary uppercase;
  @apply lg:text-xl;
}
.advantages__subtitle {
  @apply text-sm text-dark font-medium;
  @apply lg:text-base;
}

.gallery {
  @apply bg-green pt-40 pb-12 px-6 overflow-x-hidden lg:pb-28;
}
.gallery .title-large {
  @apply text-white text-center max-w-[25ch] mx-auto;
}
.gallery__grid {
  @apply grid grid-cols-2 md:grid-cols-4 mt-5 gap-2 md:gap-3 md:mt-10 lg:gap-x-5 lg:gap-y-16;
}
.gallery__p-1, .gallery__p-2 {
  @apply col-span-2 text-sm text-center text-white py-3;
  @apply md:text-base md:flex md:items-center lg:text-xl xl:text-2xl;
}
.gallery__p-1 {
  @apply md:text-left lg:pr-8;
}
.gallery__p-2 {
  @apply md:text-right;
  @apply lg:items-start lg:flex-col lg:justify-between lg:pb-0 lg:pl-8;
}
.gallery__sub {
  @apply relative w-full;
}
.gallery__sub__text {
  @apply relative lg:float-right z-10 text-white font-medium py-4 max-w-[40ch];
}
.gallery__sub__bg {
  @apply absolute top-0 bottom-0 w-screen bg-gradient-to-r from-indigo-500 to-purple-500;
}
.gallery__sub--mobile {
  @apply block lg:hidden bg-gradient-to-r from-indigo-500 to-purple-500 py-2 px-4 text-center md:py-6 md:px-8;
}
.gallery__sub--mobile .gallery__sub__text {
  @apply py-2 px-4 border-2 border-white text-xs md:text-lg max-w-none md:py-6 md:px-8;
}
.gallery__sub--desktop {
  @apply hidden lg:block;
}

.cert {
  @apply relative pt-11 px-8 pb-16 md:pt-24;
}
.cert .max-width-container {
  @apply relative lg:flex lg:flex-row lg:justify-between;
}
.cert .title-large {
  @apply relative text-center text-primary max-w-[40ch] mx-auto lg:text-left lg:flex lg:items-center lg:pr-16;
}
.cert__img-wrapper {
  @apply w-full max-w-full mt-10 relative;
  @apply xs:mt-16 md:mt-32 lg:mt-0;
}
.cert__bg-text {
  @apply uppercase font-bold text-3xl -top-5 text-center absolute left-0 right-0 mx-auto;
  @apply xs:-top-8 xs:text-4xl md:-top-14 md:text-7xl;
  color: rgba(182, 182, 182, 0.3);
}
.cert__img {
  @apply w-full rounded-lg relative max-w-xl mx-auto;
  @apply md:rounded-3xl;
}
.cert__exclamation {
  @apply absolute -top-[4.5rem] left-0 exo2-font text-8xl;
  @apply md:text-[168px] md:-top-28 md:left-16 lg:text-[200px] lg:-top-8 lg:left-0;
  color: rgba(223, 223, 223, 0.3);
}

.product {
  @apply bg-green py-4 text-white lg:pt-24 lg:px-20;
}
.product .max-width-container {
  @apply px-8;
}
.product .title-large {
  @apply text-center mb-1.5 md:text-left md:text-2xl lg:text-4xl;
}
.product__grid {
  @apply md:grid md:grid-cols-2 md:gap-8 lg:gap-24;
}
.product__grid__col:first-child {
  @apply md:flex md:flex-col md:justify-between lg:justify-start;
}
.product__images {
  @apply grid grid-cols-4 gap-2;
}
.product__images--mobile {
  @apply grid md:hidden;
}
.product__images--desktop {
  @apply hidden md:grid;
}
.product__image {
  @apply mx-auto;
}
.product__image--first {
  @apply col-span-4;
}
.product__image--hidden {
  @apply hidden;
}
.product__specs {
  @apply w-full mt-6 text-sm md:text-base lg:text-2xl lg:mt-14;
}
.product__specs td {
  @apply py-0.5;
}
.product__specs td:first-child {
  @apply font-bold;
}
.product__specs td:last-child {
  @apply text-right;
}
.product__selector {
  @apply mt-3 -mx-8 md:mx-0 px-8 flex flex-row justify-center lg:mt-14 lg:text-xl;
  background-color: #C7D19C;
}
.product__selector__e {
  @apply px-2.5 py-3 divide-y-1 text-center cursor-pointer;
}
.product__selector__e--selected {
  @apply bg-white text-dark;
}
.product__selector__e div {
  border-color: #A7A7A7;
}
.product__price-row {
  @apply mt-4 flex flex-row justify-between items-center;
}
.product__price-row--mobile {
  @apply flex lg:hidden;
}
.product__price-row--desktop {
  @apply hidden lg:flex;
}
.product__price-row .price {
  @apply -ml-8 rounded-l-none px-8 py-1 md:rounded-full md:ml-0 lg:py-2;
}
.product__price-row .price__new {
  @apply text-2xl lg:text-3xl;
}
.product__price-row .price__old {
  @apply text-sm lg:text-base;
}
.product__discount {
  @apply flex-grow text-center font-bold text-xl lg:text-3xl;
}

.buy-form {
  @apply bg-green pt-6 px-8 pb-4 lg:pt-10 lg:pb-14 lg:px-20;
}
.buy-form .max-width-container {
  @apply px-8;
}
.buy-form .title-large {
  @apply text-center text-white;
}
.buy-form__form {
  @apply grid grid-cols-1 w-full md:grid-cols-3 md:gap-4 lg:gap-10 md:mt-8 max-w-6xl mx-auto;
}
.buy-form__input {
  @apply h-10 px-3 outline-0 font-semibold placeholder-gray-100 text-white border-1 border-opacity-30 border-white bg-transparent rounded-lg;
  @apply mt-3 w-full text-sm max-w-xs mx-auto md:px-4 md:max-w-none lg:h-12;
}
.buy-form__submit {
  @apply bg-white rounded-full text-black w-full max-w-xs mx-auto block font-bold h-10 mt-4 text-sm md:max-w-none lg:h-12;
}
.buy-form__sub-button {
  @apply mx-auto text-center font-semibold text-white mt-1.5;
}

.other-models-text {
  background: linear-gradient(90deg, #667EEA 0%, #764BA2 100%);
  @apply text-center px-8 xs:px-16 py-6 text-white font-medium;
}

.max-width-container {
  max-width: 1440px;
  @apply mx-auto w-full;
}

.exo2-font {
  font-family: "Exo 2", sans-serif;
}

body {
  @apply p-0 m-0;
  font-family: "Montserrat", sans-serif;
}